# Node
node_modules/
Backend/node_modules/
Frontend/node_modules/

# Angular/Dist
Frontend/dist/
Frontend/.angular/

# IDE
.vscode/
*.log

# Env
.env
Backend/.env
Frontend/.env

# Misc
.DS_Store
Thumbs.db
